{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<h1>Products Catalog</h1>
		<p>{{product.name}}</p>
		{% if product.image is not empty %}
			<img src="{{ asset('uploads/' ~ product.image) }}" style="max-width:100px;">
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
			<form action="{{path('app_product_delete', {id: product.id})}}" method="POST">
				<input type="hidden" name="csrf" value="{{ csrf_token('delete' ~ product.id) }}">
				<input type="submit" value="Delete">
			</form>
		{% endif %}
{% endblock %}
