body {
    background-color: white;
}

.success{
    background-color: lightgreen;
}

.error{
    background-color: lightcoral;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}