body {
    background-color: white;
    margin: 1rem;
}

.success{
    background-color: lightgreen;
}

.error{
    background-color: lightcoral;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.product-list {
    display: flex;
    gap : 2rem;
    overflow-x: auto;
    white-space: nowrap;
}

.product {
    display: block;
}