{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<h1>Liste des produits</h1>
	<div class="product-list">
	{% for p in products %}
		<div class=product>
		<a href="{{ path('app_product_view', {id: p.id}) }}">
			<p>{{p.name}}</p>
		</a>
		{% if p.image is not empty %}
			<img src="{{ asset('uploads/' ~ p.image) }}" style="max-width:100px;">
		{% endif %}
		{# <p>{{p.title}}</p> #}
		</div>
	{% else %}
		<p>Aucun produit</p>
	{% endfor %}
	</div>
	
{% endblock %}
